.TodoItem{
    font-size: 25px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.TodoItem:hover .wrap-delete img{
    display: block;
}
.TodoItem img{
    width: 32px;
    height: 32px;
}
.TodoItem .wrap-delete{
    display: flex;
    flex-grow: 1;
    flex-direction: row-reverse;
}
.TodoItem .wrap-delete img:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.TodoItem .wrap-delete img{
    display: none;
    transform: scale(.8);
    transition: all 0.5s;
}
.TodoItem>p{
    margin-left: 20px;
}
.TodoItem-Completed p{
    text-decoration: line-through;
    opacity: .3;
}